/*----------------------------------------------------------------
    Main Footer
----------------------------------------------------------------*/
.main-footer {
    position: relative;
    padding: 30px 0;
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 9px;

        display: none;
        width: 134px;
        height: 5px;

        background-color: #000;
        border-radius: 100px;
        transform: translate(-50%, 0);
    }
    @media(max-width: 575px) {
        padding: 30px 0 50px;
        &::after {
            display: block;
        } 
    }
    // .main-footer__container
    &__container {
        display: flex;
        justify-content: space-between;
        @media(max-width: 575px) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }
    // .main-footer__col
    &__col {
        @media(max-width: 575px) {
           &:first-child {
               margin-bottom: 20px;
           }
        }
    }
    // .main-footer__copy
    &__copy {}
    // .main-footer__lk
    &__lk {
        color: #311746;
        margin-right: 20px;
        font-size: 16px;
        &:last-child {
            margin: 0;
        }
        &:hover, 
        &:focus {
            text-decoration: underline;
        }
    }
    // .main-footer__author
    &__author {
        color: rgba(#311746, .5);
        font-size: 14px;
        transition: color .3s;
        &:hover, 
        &:focus {
            color: rgba(#311746, 1);
        }
        @media(max-width: 575px) {
            font-size: 16px;
        }
    }
    &__lk,
    &__author {
        display: inline-block;
    }
    &--login {
        @media(max-width: 575px) {
            padding: 30px 0;
            &::after {
                display: none;
            } 
            .main-footer__container {
                align-items: flex-end;
            }
        }
        .main-footer__container {
            justify-content: flex-end;
        }
    }
}