/*----------------------------------------------------------------
    Modal Windows
----------------------------------------------------------------*/
.modal {
    position: fixed;
    top: 50%;
	left: 50%;
    z-index: 110;

    display: none;
    max-height: 100vh;

    background-color: #fdfeff;
    border-radius: 3px;
	transform: translate(-50%, -50%);
    box-shadow: 0 5px 25px rgba(93, 93, 93, .76);
    overflow-y: auto;
}

.overlay {
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 105;

    display: none;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.7);
}

.modal-show {
	display: block;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 15px;
    height: 15px;

    background: transparent url('../img/icons/close-dark.svg') center / cover no-repeat;
    cursor: pointer;
}